body {
    font-size: 14px;
    font-family:"Cuprum","Open Sans", Arial, sans-serif;
    color: #000000;
    line-height: 24px;
    font-weight: normal;
    background: white;
    min-width: 960px;
    margin:0px;
}

h1 {
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
    font-style: italic;
    font-weight: lighter;
}

h2 {
    color: #32425c;
    font-size: 36px;
}

.header{
   
    background:#f1f5f7;
    
}
.container{
  width: 940px;
  margin: 0 auto;
  padding-left: 10px; 
  padding-right: 10px;

}
.search-bookmarks{

background: #32425c;


}

.logo-techmart{
color:#ffffff;
background:#ee3643;
font-size: 24px;
width:219px;
padding:9px 0px;
text-align: center;
display: inline-block;
text-decoration: none;
text-transform:uppercase;


}

.sprite-icon-search {
    width: 17px;
    height: 17px;
    background-position: -62px -34px;
    background-image: url("../img/sprite-chrome.png");
    display: inline-block;
    margin-left:14px;
    margin-right:8px;

}


.formline{
display: inline-block;


}

input{
background: #32425c;  
font-size:17px;
font-family: "Cuprum";
outline: none;
border:solid #32425c 1px;
color:white;
width: 239px;
line-height:16px;
height: 17px;
vertical-align:top;

}
.bookmark:before {content:"";
    width: 14px;
    height: 16px;
    background-position: -32px -5px;
    background-image: url("../img/sprite-chrome.png");
    margin-right:8px;
    display: inline-block;
    }

.nav-line-links{/*общий класс ссылок верхней плашки*/
font-size:17px;
color: white;
text-decoration: none;
line-height:16px;
height: 15px;
vertical-align:top;
}

.bookmark{/**/
 display: inline-block;

}
.basket{
 display: inline-block;   

}


.basket:before {content:"";
    width: 17px;
    height: 16px;
    background-position: -5px -5px;
    background-image: url("../img/sprite-chrome.png");
    display:inline-block;
    margin-left:40px;
    margin-right:13px;
}

.checkout{
background: #63a63e;
width: 150px;
display: inline-block;
height: 30px;
margin-left: 27px; 
padding-top: 12px;
text-align:center;
}

.header-left-block{
width: 621px;
float: left;
padding-top: 25px;
margin-bottom: 28px;

}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.user-block{
 float: right;   
width: 300px;
margin-top: 20px;

}

.header-text{
    float:left;
    width: 210px;
    margin-top:23px;
    margin-left:51px;
}

.phone{
    
    width:257px;
    color:#e9292a;
    font-size:21px;
    border:solid white 3px;
    text-align: center;
    margin-top:21px;
    margin-left:57px;
    margin-right: 10px;
    padding-bottom:7px;
    padding-right: 8px;
    padding-top: 7px;
    float: left;
}

.phone:before {content:"";
    width: 19px;
    height: 19px;
    background-position: -76px -5px;
    background-image: url("../img/sprite-chrome.png");
    margin-left:13px;
    margin-top: 2px;
    float: left;
}


.address{
color:#32425c;   
margin-right:41px;
width: 250px;
padding-top:4px;
float:right;
}


.enter:before {content: "";
    width: 30px;
    height: 17px;
    background-position: -32px -33px;
    display:inline-block;
    background-image: url("../img/sprite-chrome.png");
      }

.enter { /*a класс*/
font-size:21px;
color: black;
background: white;
text-align: center;
text-decoration: none;
padding-top:12px;
margin-top:25px;
width: 108px;
display: inline-block;
vertical-align: top;
margin-left: 18px;
padding-left:2px;
padding-right: 11px;
height:33px;
}
.registration { /*a класс*/
font-size:21px;
color: black;
background: white;
text-align: center;
text-decoration: none;
height: 33px;
width: 150px;
margin-left:7px;
display: inline-block;
padding-top:12px;
vertical-align: top;
margin-top:25px;
}



.header-low{
background: #f1f5f7;
padding-top: 0px;
padding-bottom:60px;

}

.main-menu{  /*nav*/
background: #32425c;
margin:auto;
width: 940px;
padding-bottom: 0px;
padding-top: 10px;

}
.nav-menu  {  /*ul*/
list-style-type: none;   
margin:0px;

    /*white-space: nowrap;?*/ 
    


}

.nav-menu li{
display: inline-block; 

}

.nav-menu li:nth-child(1) {

margin-left:-4px;

}
.nav-menu li:nth-child(2) {

margin-left:35px;

}
.nav-menu li:nth-child(3) {

margin-left:30px;

}

.nav-menu li:nth-child(4) {

margin-left:32px;

}

.nav-menu li:nth-child(5) {

margin-left:31px;

}

.nav-menu li:nth-child(6) {

margin-left:33px;

}
.nav-menu li:nth-child(7) {

margin-left:35px;

}
.nav-bookmarks {   /*ссылки в меню*/
font-size:17px;
color: white;
display: block;
text-decoration: none;
padding: 6px 10px 20px 15px;
margin-left: 0px;
margin-right: 0px;


}





.content-block-a{
width: 300px;
height: 123px;
 float:left;   
background:#f6b22d; 
margin-right:20px;
background-image: url("../img/vedro.png");
background-repeat: no-repeat;
background-position: 83% 54%;
}
.badge-new{
position: relative;
background-image: url("../img/new.png");
left: 240px;
background-repeat: no-repeat;
bottom: 58px;
width: 60px;
height: 59px;
}
.content-block-b{
width: 300px;
height: 123px;
 float:left;   
color:white;
background:#4aafde; 
font-size: 24px;
margin-right:10px;
}
.content-block-b a {
 background:#429dc7;

}

.content-block-c{
width: 300px;
height: 123px;
 float:left;   
color:white;
background:#cc79d1; 
font-size: 24px;
margin-left: 10px;
}
.content-block-c a {
 background:#b76dbc;}

.content-block-d{
width: 300px;
height: 123px;
 float:left;   
color:white;
background:#85d179; 
font-size: 24px;
}
.content-block-d a {
 background:#77bc6d;
 }
.items{
font-size: 14px;
width: 135px;/*87 12 135 38 */
height:30px;
color: white;
text-align: center;
text-decoration: none;
background:#dda028;
display:block;
text-transform:uppercase;
margin-left: 24px;
margin-top:-54px;
padding-top:8px;
margin-bottom: 0px;

}

.white-img{
display: inline-block;
padding-top: 30px;

}

.items-name{
display:inline-block;
vertical-align: top;
font-size: 24px;
color: white;
padding-left: 23px;
width: 81px;

margin-bottom: 10px;
padding-right: 0px;
letter-spacing: 0.5px;
}
.up-promo{
padding-top: 58px;

}

.slider-title{
 color:black;   
 font-family: Cuprum;
text-transform:uppercase;
font-weight:bold;
}

.slides{
float:left;

